<!DOCTYPE html>
<html lang="en">
<head>
{#    <meta http-equiv="refresh" content="3;URL=data_entry/">#}
    <meta charset="UTF-8">
    <title>Êҳ</title>
<style>
    a{ font-size:25px; color: white}
    li{ color: white; font-size: 30px}
</style>

</head>
<body style="background:url('../static/images/background.jpg') no-repeat fixed top; background-size: 100% 180%;overflow: hidden;">

<center>
    <br/>
    <div style="position:fixed;left:0;right:0;top:0;bottom:0;width: 500px; height: 400px; margin:auto;">
        <img src="../static/images/logo.jpg" width="245" height="100">
        <h2 style="color: white; size: 10px">»ùÄϵͳ£º</h2>


    </div>
</center>

</body>
</html>
